@model TaxTypeSelectorModel
@using Nop.Core;
@using Nop.Core.Domain.Tax;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Common;
@if (Model.Enabled)
{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    var taxTypes = new List<SelectListItem>();
    taxTypes.Add(new SelectListItem()
    {
        Text = T("Tax.Inclusive").Text,
        Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeTaxType", new { customertaxtype = ((int)TaxDisplayType.IncludingTax) }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
        Selected = Model.CurrentTaxType == TaxDisplayType.IncludingTax
    });
    taxTypes.Add(new SelectListItem()
    {
        Text = T("Tax.Exclusive").Text,
        Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeTaxType", new { customertaxtype = ((int)TaxDisplayType.ExcludingTax) }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
        Selected = Model.CurrentTaxType == TaxDisplayType.ExcludingTax
    });
    
    @*@Html.DropDownList("customerTaxType", taxTypes, new { onchange = "setLocation(this.value);" })*@

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">
            @foreach(var just_taxTypes in taxTypes)
            {
                if(just_taxTypes.Selected==true)
                {
                    @just_taxTypes.Text
                }
            }
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu" >
        
            @foreach(var tax_types in taxTypes)
            {
                <li><a href="@tax_types.Value" >@tax_types.Text</a></li>
            
            }     

        </ul>
    </li>



}